<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-color:pink;
  color: black;
}
div {
  background-color: green;
  color:white;
}
</style>
</head>
<body>
<h1> My new page </h1>
<p> My new page </p>
<div> My new page </div>
</body>
</html>
